

h3 {
    margin: 20px;
    text-align: center;
    font-size: var(--size-bigertext);
    font-weight: bold;
}



.button_menu .edit {
    background-color: var(--color-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

section span {
    font-size: calc(9px + 0.5vw);
    font-weight: bold;
}

.form_reg {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto auto;
    width: 80vw;
    margin: 20px auto;
    grid-gap: 2vw;
    border: 10px solid #FFF;
    padding: 35px;
    border-radius: 30px;

}

.form_reg .rg_main {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    /* width: 40vw; */
    height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1vw;

}

.rg_main input {
    border: none;
    font-family: var(--font);
    padding: 10px 8px;
    border-radius: 10px;
    background-color: #fff;
    width: 80%;
}

.rg_main .img {

    grid-row: 1;
    grid-column: 1;
    width: 10vw;
    height: 10vw;
    border-radius: 10px;
    overflow: hidden;
}

.img img {
    width: 100%;
    z-index: 1;
}

/* input[type=file]:invalid~span {
    z-index: 0;
    opacity: 0;
} */



.rg_main_input {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2;
    gap: 1vw;
}
.select{
    grid-row: 2;
    grid-column: 1/3;
}
select {
    border: none;
    appearance: none;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}

select::after {
    content: '\25BC';
    position: absolute;
    margin-left: -30px;
    padding: 10px;
    transition: .25s all ease;
    pointer-events: none;
    color: var(--color-button-dark);
}
select {
            border: none;
            appearance: none;
            padding: 10px;
            border-radius: 10px;
        }

        .select::after {
            content: '\25BC';
            position: absolute;
            margin-left: -30px;
            padding: 10px;
            transition: .25s all ease;
            pointer-events: none;
            color: var(--color-button-dark);
        }

        /* Transition */
        .select:hover::after {
            color: #AEAEAEAE;
        }

/* Transition */
select:hover::after {
    color: #AEAEAEAE;
}


/* ======================================================== */

/* ======================================================== */
.skils {
    grid-row: 2;
    grid-column: 1;
    /* gap: 1vw; */
    display: flex;
    flex-direction: column;
}

.skil {
    font-family: var(--font);
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 8px;
    border: none;
    height: 60px;
}

textarea {
    margin: 0;
    padding: 15px;
    width: 80%;
    border: none;
    border-radius: 15px;
    background-color: var(--color-white);
    resize: none;
}

button {
    font-family: var(--font);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    transition: 0.9s all;
    border-radius: 10px;
    padding: 10px 8px;
    border: none;
    background-color: #fff;
}

button:hover,
button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.inf_block{
    grid-row: 2;
    grid-column: 2;
    /* gap: 1vw; */
    display: flex;
    flex-direction: column;
}
/* ================================================ */
.price-block {
    grid-column: 2;
    grid-row: 1/3;
    height: 60%;
    /* overflow-y: auto; */
}
.table_block{
    height: 50%;
overflow-y: auto;
}
.prices {
    width: 80%;
    border-collapse: collapse;
}

.prices .name_row td {
    padding: 10px;
}

.prices td {
    border: 3px solid var(--color-button-dark);

    text-align: center;
}

.prices td input {
    font-family: var(--font);
    width: 4vw;
    background-color: transparent;
    border: none;
    padding: 10px;
    text-align: center;

}

.prices .servic {
    width: auto;

}

/* ================================================= */
.button_add {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
}

.button_add img {
    height: 90%;

}

input[type=file] {
    width: 10vw;
    height: 10vw;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
@media (max-width: 850px) {
    .nav_tel .home {
        height: 100%;
        width: 25%;
        background-color: transparent;
        border-radius: none;
    }

    .nav_tel .user {
        height: 130%;
        width: 25%;
        background-color: var(--color-button-dark);
        border-radius: 0px 0px 40% 40%;
    }

    .button_menu {
        display: none;
    }

    .button_add {
        height: 40px;
        border-radius: 10px;
    }

    h3 {
        font-size: 16px;
    }

    .button_menu_tel .add {

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;

    }

    .button_menu_tel .recipe {

        box-shadow: none;
    }


    .form_reg {
        display: flex;
        flex-direction: column;
        width: 86vw;
        margin: 0px;
        margin: auto;
        margin-top: 20px;
        padding: 2vw;
        border: 5px solid #FFF;
    }

    .form_reg .rg_main {
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-gap: 1vw;
    }

    .rg_main input {
        margin: auto;
        width: 90%;
    }



    select {
        width: 90%;

    }

    textarea {
        width: 90%;
        margin: auto;

    }

    .skils {
        text-align: center;
    }

    .price-block{
    text-align: center;
    }
    .prices {
        width: 90%;
        margin: auto;
    }
}

/* ============================================== */
.card {
    display: flex;
    flex-direction: column;
}

.service__card {
    grid-template-rows: 110px 15px 40px 20px;
    border-radius: 20px 20px 0px 0px;
}

.line_card {
    border-bottom: none;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
    height: 40px;
    background-color: #FFF;
    border-radius: 0px 0px 20px 20px;
}

.form_reg {
    width: 60%;
    margin: 0px 15vw 0px 0px;
    position: fixed;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.45);
    background-color: #f1f1f1;
    padding-bottom: 10px;
    grid-gap: 0.8vw;
}

.rg_main_input {
    gap: 0.5vw;
}

.two {
    grid-column: 1/3;
    grid-row: 3;
}

section span {
    font-size: var(--size-text);
    font-weight: normal;
}